@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
* {
    box-sizing: border-box; }
#tuturing{
    animation: logo-entry 4s ease-in;
    float: bottom;
}

html {
    background: #000;
    background-size: cover;
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%; }

/* =========================================
Stark Industries Logo
========================================= */
#logo {
    animation: logo-entry 4s ease-in;
    width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 40; }

h1 {
    animation: text-glow 2s ease-out infinite alternate;
    font-family: 'Ubuntu', sans-serif;
    color: #a41215;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    top: 50px; }
h1:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #a41d21;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0; }
h1:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #a4130f;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0; }

/* =========================================
Log in form
========================================= */
#fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
}

.stark-login form {
    animation: form-entry 3s ease-in-out;
    background: #111;
    background: linear-gradient(#471010, #111111);
    border: 6px solid #a44638;
    box-shadow: 0 0 15px #ff241a;
    border-radius: 5px;
    display: inline-block;
    height: 340px;
    margin: 200px auto 0;
    position: relative;
    z-index: 4;
    width: 500px;
    transition: 1s all; }
.stark-login form:hover {
    border: 6px solid #ff0e15;
    box-shadow: 0 0 25px #ff2c34;
    transition: 1s all; }
.stark-login input {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    height: 40px;
    margin: 20px auto 10px;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 400px; }
.stark-login input:focus {
    animation: box-glow 1s ease-out infinite alternate;
    background: #0B4252;
    background: linear-gradient(#333933, #222922);
    border-color: #ffff2c;
    box-shadow: 0 0 5px rgba(255, 32, 38, 0.2), inset 0 0 5px rgba(255, 72, 83, 0.1), 0 2px 0 black;
    color: #efe;
    outline: none; }
.stark-login input:invalid {
    border: 2px solid #7d800f;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 black; }
.stark-login button {
    animation: input-entry 3s ease-in;
    background: #222;
    background: linear-gradient(#333333, #222222);
    box-sizing: content-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all; }
.stark-login button:hover,
.stark-login button:focus {
    background: #611e13;
    background: linear-gradient(#393939, #292929);
    color: #e4ff0e;
    outline: none;
    transition: 1s all; }
.stark-login button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px; }

/* =========================================
Spinner
========================================= */
#circle1 {
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: #000;
    border-radius: 50%;
    border: 10px solid #a41517;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #ff1b0e;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    opacity: 0.4;
    z-index: -3; }

#inner-cirlce1 {
    background: #000;
    border-radius: 50%;
    border: 36px solid #ff150e;
    height: 460px;
    width: 460px;
    margin: 10px; }
#inner-cirlce1:before {
    content: ' ';
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0; }
#inner-cirlce1:after {
    content: ' ';
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0; }

/* =========================================
Hexagon Mesh
========================================= */
.hexagons {
    animation: logo-entry 4s ease-in;
    color: #000;
    font-size: 52px;
    font-size: 5.1rem;
    letter-spacing: -0.2em;
    line-height: 0.7;
    position: absolute;
    text-shadow: 0 0 6px #ff1811;
    top: 310px;
    width: 100%;
    transform: perspective(600px) rotateX(60deg) scale(1.4);
    z-index: -3; }

/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
    0% {
        opacity: 0; }

    80% {
        opacity: 0; }

    100% {
        opacity: 1; } }
@keyframes circle-entry {
    0% {
        opacity: 0; }

    20% {
        opacity: 0; }

    100% {
        opacity: 0.4; } }
@keyframes input-entry {
    0% {
        opacity: 0; }

    90% {
        opacity: 0; }

    100% {
        opacity: 1; } }
@keyframes form-entry {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0; }

    20% {
        height: 0;
        border: 1px solid #a40e04;
        width: 0;
        opacity: 0;
        padding: 0; }

    40% {
        width: 0;
        height: 220px;
        border: 6px solid #a40807;
        opacity: 1;
        padding: 0; }

    100% {
        height: 220px;
        width: 500px; } }
@keyframes box-glow {
    0% {
        border-color: #b81306;
        box-shadow: 0 0 5px rgba(255, 45, 37, 0.2), inset 0 0 5px rgba(255, 84, 97, 0.1), 0 2px 0 black; }

    100% {
        border-color: #ff100c;
        box-shadow: 0 0 20px rgba(255, 0, 5, 0.6), inset 0 0 10px rgba(255, 67, 68, 0.4), 0 2px 0 black; } }
@keyframes text-glow {
    0% {
        color: #a41d20;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000; }

    100% {
        color: #ff171c;
        text-shadow: 0 0 20px rgba(255, 0, 15, 0.6), 0 0 10px rgba(255, 54, 47, 0.4), 0 2px 0 black; } }
@keyframes before-glow {
    0% {
        border-bottom: 10px solid #a41c1a; }

    100% {
        border-bottom: 10px solid #ff1213; } }
@keyframes after-glow {
    0% {
        border-top: 16px solid #a42c2e; }

    100% {
        border-top: 16px solid #ff190a; } }
@keyframes circle1 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }