input[type=text]{
    width: 120px;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 2px solid;
    transition: 0.5s;
}
input[type=text]:focus{
    border-bottom: blue 3px solid;
}

input[type=password]{
    width: 120px;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 2px solid;
    transition: 0.5s;
}
input[type=password]:focus{
    border-bottom: red 3px solid;
}
input[type=email]{
    width: 120px;
    margin: 10px 5px;
    border: black 1px solid;
    transition: 0.5s;
}
input[type=email]:focus{
    border-bottom: greenyellow 3px solid;
}
.boton{
    border-radius: 2px;
    background-color: cyan;
    color:gray;
    width: 120px;
    height: auto;
}
.boton:hover{
    background-color: cornflowerblue;
    transition: 0.1s;
    color:white;
}
.boton:focus{
    background-color: blueviolet;
    color: lightgoldenrodyellow;
}
