<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>

</head>
<body>
<section id="content">
    Venta de Libros
    <p>{{usuario}}</p>
    <input type="text" v-model="usuario" placeholder="Ingrese usuario">
    <input type="password" v-model="clave" placeholder="Ingrese contraseña">
    <template>
        <table>
            <tr>
                <td>isbn</td>
                <td>titulo</td>
                <td>editorial</td>
            </tr>
            <tr v-for="libro in libros">
                <td>{{libro.isbn}}</td>
                <td>{{libro.titulo}}</td>
                <td>{{libro.editorial}}</td>
            </tr>
        </table>

    </template>
    <button v-on:click="cambiar()">Cambiar nombre</button>
</section>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="js/app.js"></script>
</body>
</html>