p{
    text-decoration: black;
    text-align: center;
    color: aqua;
    font-size: 16px;
}

.titulo{
    font-size: 40px;
    color: blue;
}

.contenido{
    font-size: 20px;
    color: aquamarine;
}

#logo{
    font-size: 20px;
    color: chartreuse;
}

body{
    background-color: black;
}